.accordion {
  max-width: 800px;
  font-family: "Open Sans", sans-serif;
}
.accordion .accordion__title {
  font-size: 14px;
  font-weight: 600;
  color: #0465ac;
  margin: 0 0 12px 0;
  transition: font-size 0.2s;
}
.accordion .accordion__title--main {
  font-size: 18px;
  color: #333;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.accordion .accordion__title:last-child {
  margin: 0;
}
.accordion .accordion__subtitle {
  font-size: 12px;
  font-weight: 600;
  color: #999;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.accordion .accordion__tab {
  background: #fff;
  transition: margin 0.2s;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
.accordion .accordion__tab:first-child {
  margin-top: 0px !important;
}
.accordion .accordion__tab--main {
  padding: 0 25px;
  height: 60px;
  display: flex;
  align-items: center;
}
.accordion .accordion__tab--expandable {
  cursor: pointer;
}
.accordion .accordion__tab + .accordion__tab {
  border-top: 1px solid #e4e6e5;
}
.accordion .accordion__tab .accordion__arrow__up {
  display: none;
}
.accordion .accordion__tab .accordion__arrow__down {
  display: block;
}
.accordion .accordion__tab.active {
  margin: 30px 0;
}
.accordion .accordion__tab.active .accordion__title {
  font-size: 18px;
}
.accordion .accordion__tab.active .accordion__body {
  padding-top: 10px;
  padding-bottom: 25px;
}
.accordion .accordion__tab.active .accordion__body--alt {
  padding-top: 15px;
  padding-bottom: 25px;
}
.accordion .accordion__tab.active .accordion__arrow__up {
  display: block;
}
.accordion .accordion__tab.active .accordion__arrow__down {
  display: none;
}
.accordion .accordion__header {
  padding: 0 25px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.accordion .accordion__header__container {
  width: 100%;
  padding-right: 50px;
  box-sizing: border-box;
}
.accordion .accordion__header--alt {
  height: 69px;
}
.accordion .accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s, padding 0.2s;
  padding-right: 25px;
  padding-left: 25px;
}
.accordion .accordion__body p {
  font-size: 13px;
  color: #333;
  margin: 0;
}
.accordion i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  font-size: 26px;
  margin-left: 25px;
  color: #0465ac;
}
